

#window {
margin: 5px;
background-color: --wofi-color0;
color: --wofi-color7;
}

#input {
margin: 5px;
border: 0;
background-color: --wofi-color8;
color: --wofi-color-15;
}

#inner-box {
margin: 5px;
border: 0;

}

#outer-box {
margin: 0px;
border: 0;
}

#scroll {
margin: 5px;
border: 0;
}

#text {
margin: 5px;
border: 0;
}


#text:selected {
color: --wofi-color6;
}

#entry:selected {
    background-color: transparent;
    border: 0;
}
